* {
    margin: 0;
    padding: 0;
}

header {
    background-color:blue;
}

h1 {
    color:white;
    font-size: 20px;
    padding: 10px;
    padding-left: 40px;
}

div {
    border: 1px solid black;
    width: 360px;
    height: 200px;
    display: inline-block;
}
section {
    margin: 20px;
    padding: 5px;
    display: inline-block;
}
div {
    background-color: white;
    border: 1px solid black;
    margin: 20px;
}
p {
    background-color:blue;
    color: white;
   }

.centered-text {
    text-align: center;
    background-color:white;
}

.jumbo {
    border: 1px solid black;
    width: 1174px;
    height: 200px;
}

.image {
    width: 1174px;
    height: 200px;
}